 <header>
    <nav>
         <a href="{% url 'login' %}">Login </a>
        <a href="{% url 'signup' %}">SignUp </a>
        <a href="{% url 'home' %}">Home</a>
        <a href="{% url 'about' %}">About</a>
        <a href="{% url 'contact' %}">Contact</a>
        <a href="{% url 'Barangay_Official' %}">Barangay Official</a>
        <a href="{% url 'Barangay_Project' %}">Barangay Project</a>
        <a href="{% url 'Complaint' %}">Complaint</a>
         <a href="{% url 'Barangay_Service' %}">Barangay Service</a>
         <a href="{% url 'Request' %}">Request</a>
    </nav>
</header>